
[defaults]
inventory = ~/automation/assignment01/CCGC5502-Automation/assignment1-n01645439/hosts
host_key_checking = false
deprecation_warnings = false
roles_path = ~/automation/ansible/roles

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

